MANIFOLD=ct::core::EuclideanState<2, double>  
CONTROL_DIM=1  
POS_DIM=1   
VEL_DIM=1
SCALAR=double

MANIFOLD=ct::core::ManifoldState<manif::SE3d, manif::SE3Tangentd>
CONTROL_DIM=6
POS_DIM=6
VEL_DIM=6
SCALAR=double

MANIFOLD=ct::core::ManifoldState<manif::SE2d, manif::SE2Tangentd> ## todo this case should be covered
CONTROL_DIM=3
POS_DIM=3
VEL_DIM=3
SCALAR=double

#MANIFOLD=ManifoldState<SE2d, SE2Tangentd> ## todo this case should be covered
#CONTROL_DIM=3
#POS_DIM=3
#VEL_DIM=3
#SCALAR=double

# todo rewrite all of this
#STATE_DIM=2, CONTROL_DIM=1, POS_DIM=1, VEL_DIM=1, SCALAR=double
#STATE_DIM=12, CONTROL_DIM=4, POS_DIM=6, VEL_DIM=6, SCALAR=double
#STATE_DIM=12, CONTROL_DIM=6, POS_DIM=6, VEL_DIM=6, SCALAR=double
#STATE_DIM=2, CONTROL_DIM=2, POS_DIM=1, VEL_DIM=1, SCALAR=ct::core::ADScalar



