CMakeFiles/
CMakeCache.txt
*.cmake
!clang-cxx-dev-tools.cmake
!compilerSettings.cmake
*.a
*.o
*.so
Makefile
.project
.cproject
*~
*/.settings/*
*/doc/html/
*/doc/latex/
*.orig
templateDir.h
exampleDir.h
CodegenOutputDirs.h
ct_core/generated/*
solution.mat
*.tag
*.tmp
*.mat
.settings/
