CMakeFiles/
CMakeCache.txt
*.cmake
!clang-cxx-dev-tools.cmake
!compilerSettings.cmake
!ct-cmake-helpers.cmake
!FindIPOPT.cmake
!Findblasfeo.cmake
!Findhpipm.cmake
!FindCppAD.cmake
!FindCppADCG.cmake
!FindLLVM.cmake
!FindClang.cmake
!ct_core/cmake/ct_coreConfig.cmake
!ct_optcon/cmake/ct_optconConfig.cmake
!ct_rbd/cmake/ct_rbdConfig.cmake
!ct_models/cmake/ct_modelsConfig.cmake
*.a
*.o
*.so
Makefile
.project
.cproject
*~
*/.settings/*
*/doc/html/
*/doc/latex/
Doxyfile
*.orig
templateDir.h
exampleDir.h
CodegenOutputDirs.h
ct_core/generated/*
solution.mat
*.tag
*.tmp
*.mat
.settings/
*.aux
*.doc*
*.vscode

*/build/*
!ct_doc/doc/html/ct_doc_placeholder.txt
