CMakeFiles/
CMakeCache.txt
*.cmake
*.a
*.o
*.so
Makefile
.project
.cproject
*~
*/.settings/*
*/doc/html/
Doxyfile
*.orig
templateDir.h
exampleDir.h
CodegenOutputDirs.h
ct_core/generated/*
solution.mat
*.tag
*.tmp
